#main{
	text-align: center;
	background-color: #eee;
	border-radius: 30px;
	margin: 30px auto;
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
}
#title{
	padding-top: 30px;
}
#img-div{
	background-color: white;
	margin: 10px;
	padding-bottom: 10px;
}
#image{
	max-width: 100%;
	display: block;
	margin: auto;
}
#tribute-info{
	max-width: 600px;
	width: 90%;
	margin: auto;
	text-align: left;
	padding-top: 20px;
}
li{
	margin: 10px;
}
#footer{
	padding-bottom: 20px;
}